body {
    position: relative;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow-x: hidden;
    overflow-y: hidden;
}

#pano-viewer {
    position: relative;
    overflow: hidden;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

#pano-viewer:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}